/.idea/uiDesigner.xml
/.idea/workspace.xml
/.gradle/
/.settings/
/bin/
/bin-debug/
/bin-release/
/build/
.DS_Store
.actionScriptProperties
.flexLibProperties
.project
*.iml
local.properties
.idea/
.settings/
bin-debug/
bin-release/
html-template/
libs/RenderIn3D.swf
local.properties
