.DS_Store
.actionScriptProperties
.flexLibProperties
.project
*.iml
local.properties
.idea/
.settings/
bin-debug/
bin-release/
html-template/
libs/RenderIn3D.swf
*.swf

sage.html
bin/flashplayer10_2r159_1_win_sa_debug.exe
bin/flashplayer10_2r159_1_win_debug.exe
